body{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 18%, rgba(184,14,124,1) 76%);
}
#card{
    height: 580px;
    width: 330px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#firstImage img{
    width: 100%;
    aspect-ratio: 1.6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#all{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    text-align: center;
    justify-content: space-evenly;
    margin: auto;
    gap: 10px;
}
#other{
    width: 100%;
    
}
#name{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* height: 80%; */
}

#box1{
    width: 100%;
    padding: 10px;
    background-color: rgb(179, 255, 0);
    height: max-content;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo img{
    height: 35px;
    border-radius: 100px;
    aspect-ratio: 1;
    padding: 5px;
}
#boxx{
    display: flex;
    align-items: center;
}
#box2{
    width: 90%;
    height: max-content;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,0.7) 18%, rgba(184,14,124,0.7) 76%);
    border-radius: 15px;
    color: rgb(46, 13, 228);
    display: flex;
    font-family: 'Cavolini';
    font-weight: 1000;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#payment{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cancelButton a{
    margin-bottom: 20px;
}
a:link {
    color: rgb(218, 17, 131);
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
@media screen and (max-width: 330px) {
    #box1{
      background-color: olive;
      color: white;
      flex-direction: column;
    }
    a:link{
        color: brown;
    }
  }