*{
    padding: 0;
    margin: 0;
}

#wrapper{
border: 2px solid purple;
}
#d2{
    border: 5px solid green;
    height: 50vh;
}
#i1{
    float: right;
}
#i2{
    float: left;
}
#i4{
    clear: right;
}
.i{
    height: 20vh;
    width: 5vw;
    float: right;
}

#p1{
    overflow: auto;
    border: 3px solid red;
    height: 100%;
    width: 25vw;
}